<div class="bg-light rounded-1 shadow border container text-center mt-5 col-12 col-md-6">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-8">
            <form class="mt-3" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <a href="" class="navbar-brand pacifico fs-3 nav-item" [routerLink]="['/auth/sign-in']">
                    Write code
                </a>
                <div class="form-floating mt-4">
                    <input type="text" id="username" formControlName="username" class="form-control h2"
                        placeholder="Username">
                    <label for="username">Email</label>
                </div>
                <div class="form-floating">
                    <input type="text" id="code" formControlName="code" class="form-control h2"
                        placeholder="password">
                    <label for="Password">Code</label>
                </div>
                <button type="submit" class="shadow btn btn-outline-primary mt-3 w-50 fs-4">Confirm</button>
            </form>
        </div>
    </div>
</div>