<div class="card">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Tic Tac Toe</a>
    <a class="nav-link" class="btn btn-light" routerLink="/games">Game list</a>
    <a class="nav-link" class="btn btn-light" routerLink="/score-board">Score board</a>
    <a *ngIf="isLoggedIn">Logged player: <b>{{ userInfo.attributes.email }}</b></a>
    <a *ngIf="isLoggedIn" type="button" class="btn btn-primary" (click)="signOut()">Sign out</a>
    <a *ngIf="!isLoggedIn" type="button" class="btn btn-primary" routerLink="/auth/sign-in">Sign in</a>
  </nav>
  <main class="card-body">
    <router-outlet></router-outlet>
  </main>
  <footer class="card-footer fixed-bottom">
    <a href="https://github.com/jacek13" target="_blank" class="nav-link text-body-secondary text-decoration-none">2023 Michał Jackowski</a>
  </footer>
</div>